/**********************************
*  Page Container *
**********************************/
body {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    background-color: black;
    padding-left: 25px;
    padding-right: 50px;
    position: relative;
    max-width: 1200px;
    padding-top: 20px;
    margin: auto;
}

/**********************************
*  Overlay                        *
**********************************/

#overlay {
	display: none;
	background-color: darkgoldenrod;
	transform: translate(-50%, -50%);
	color: white;
	border: 8px solid purple;
	border-radius: 10px;
	position: fixed;
	height: 50%;
	width: 50%;
	top: 50%;
	left: 50%;
	font-size: 15pt;
	z-index: 3;
	vertical-align: center;
	text-align: center;
	overflow-x: none;
	overflow-y: auto;
}

.overlay-header {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 20px;
}

.overlay-header a {
	color: white;
}

.overlay-page {
	font-size: 14pt;
	font-style:italic;
	text-align: right;
	padding-right: 20px;
	padding-bottom: 10px;
}

.overlay-body {
	font-size: 16pt;
	font-weight: normal;
	font-size: normal;
	text-align: justify;
	padding: 20px;
	max-height: 70%;
	max-width: 92%;
}

#overlayback {
	display: none;
	background-color: black;
	opacity: 0.40;
	position: fixed;
	top: 0%;
	left: 0%;
	height: 300%;
	width: 300%;
	z-index: 2;
	vertical-align: center;
}

/**********************************
*  Containers *
**********************************/

.section-div {
	display: flex;
	border: 2px solid purple;
	background-color: maroon;
	border-radius: 10px;
	position: relative;
	flex-direction: column;
	font-family: 'Cambria';
	font-size: 16pt;
	color: white;
	width: 100%;
	margin-bottom: 16px;
	padding: 10px;
}

#Standard-Actions {
	background-color: navy;
}

#Skill-Actions {
	background-color: brown;
}

#Exploration-Activities {
	background-color: darkgreen;
}

#Downtime-Activities {
	background-color: darkslategray;
}

.section-header {
	padding: 6px;
	border-radius: 10px;
	background-color: inherit;
	border-color: inherit;
	font-size: inherit;
	font-weight: bold;
	float: left;
	width: 90%;
}

.section-text {
	font-size: 12pt;
	padding-left: 6px;
	padding-bottom: 5px;
	font-style: italic;
	float: left;
	width: 90%;
}

.section-collapse{
	max-height: 40px;
	max-width: 40px;
	right: 2%;
	top: 20px;
	position: absolute;
}

.grid-container {
	display: none;
}

/**********************************
*  Standard Items Grid            *
**********************************/

.item-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
	place-items: middle;
	margin-bottom: 10px;
}

.item {
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}

.item-icon {
	float: left;
	font-size: 8pt;
	width: 55px;
}

.item-icon skill{
	font-size: 12pt;
	font-weight:bold;
	padding-right: 8px;
}

.item-header {
	font-size: 14pt;
	font-weight: bold;
}
.item-header d {
	color: lightgrey;
	font-size:11pt;
}

.item-text {
	font-size: 12pt;
	font-weight: normal;
	overflow:hidden;
}

.item-hidden {
	font-size: 0pt;
}

/**********************************
*  Skill Items Grid               *
**********************************/

.skill-item-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
	place-items: middle;
	margin-bottom: 10px;
}

.skill-item-icon{
	float: left;
	font-size: 8pt;
	width: 100px;
}

.skill-item-icon skill{
	font-size: 12pt;
	font-weight:bold;
	padding-right: 8px;
}


/**********************************
*  Additional Grid Formatting     *
**********************************/


img {
	width: 35px;
	padding-right: 10px;
}

h2 {
	padding-left: 15px;
	font-size: 15pt;
	font-weight: bold;
}


